<?xml version="1.0"?>
<launch>
    <!-- <arg name="param" default="/home/amsl/catkin_ws/src/rwrc23/config/param/stop_line_detector/ikuta_outdoor.yaml"/> -->
    <arg name="param" default="/home/amsl/catkin_ws/src/rwrc23/config/param/stop_line_detector/tsukuba_sunny.yaml"/>
    <!-- <arg name="param" default="/home/amsl/catkin_ws/src/rwrc23/config/param/stop_line_detector/tsukuba_cloudy.yaml"/> -->
    <arg name="rviz_settings" default="$(find rwrc23_stop_line_detector)/config/rviz/stop_line_detector.rviz"/>

    <include file="$(find rwrc23_stop_line_detector)/launch/stop_line_detector.launch">
        <arg name="config_file" value="$(arg param)"/>
        <arg name="image_topic" value="/realsense/color/image_raw/compressed"/>
        <arg name="boot_flag_topic" value="/boot"/>
        <arg name="hz" value="30"/>
        <arg name="num_detection" value="3"/>
        <arg name="visualize" value="true"/>
    </include>

    <!-- play rosbag -->
    <!-- Tsukuba sunny -->
    <!-- <arg name="bagfile" default="/share/share/RWRC/rwrc22/tsukuba/tsukuba_whiteline1.bag"/> -->
    <!-- <arg name="bagfile" default="/share/share/RWRC/rwrc22/tsukuba/iki1_with_realsense_2022-11-06-11-01-34.bag"/> -->
    <!-- Tsukuba cloudy -->
    <!-- <arg name="bagfile" default="/share/share/RWRC/rwrc23/bagfiles/tsukuba_23-07-15/stopline_data/stopline_data_2023-07-15-14-48-27.bag"/> -->
    <!-- <arg name="bagfile" default="/share/share/RWRC/rwrc23/bagfiles/tsukuba_23-07-15/stopline_data/stopline_data_2023-07-15-14-50-23.bag"/> -->
    <!-- <arg name="bagfile" default="/share/share/RWRC/rwrc23/bagfiles/tsukuba_23-07-15/stopline_data/stopline_data_2023-07-15-14-56-20.bag"/> -->
    <!-- <arg name="bagfile" default="/share/share/RWRC/rwrc23/bagfiles/tsukuba_23-07-15/stopline_data/stopline_data_2023-07-15-14-59-38.bag"/> -->
    <!-- <arg name="bagfile" default="/home/amsl/bagfiles/rwrc23/rwrc23_main_2023-10-21-15-35-48.bag"/> -->

    <!-- <arg name="bagfile" default="/share/share/RWRC/rwrc23/bagfiles/tsukuba_23-09-23/rwrc23_main_2023-09-23-15-25-59.bag"/> -->

    <!-- <arg name="bagfile" default="/share/share/RWRC/rwrc23/bagfiles/tsukuba_23-10-21/rwrc23_main_2023-10-21-11-05-05.bag"/> -->
    <!-- <arg name="bagfile" default="/share/share/RWRC/rwrc23/bagfiles/tsukuba_23-10-21/rwrc23_main_2023-10-21-12-07-59.bag"/> -->
    <!-- <arg name="bagfile" default="/share/share/RWRC/rwrc23/bagfiles/tsukuba_23-10-21/rwrc23_main_2023-10-21-14-48-31.bag"/> -->
    <!-- <arg name="bagfile" default="/share/share/RWRC/rwrc23/bagfiles/tsukuba_23-10-22/rwrc23_main_2023-10-22-11-11-36.bag"/> -->
    <!-- <arg name="bagfile" default="/share/share/RWRC/rwrc23/bagfiles/tsukuba_23-10-22/rwrc23_main_2023-10-22-14-42-12.bag"/> -->
    <!-- <arg name="bagfile" default="/share/share/RWRC/rwrc23/bagfiles/tsukuba_23-10-22/rwrc23_main_2023-10-22-15-02-19.bag"/> -->
    <!-- <arg name="bagfile" default="/share/share/RWRC/rwrc23/bagfiles/tsukuba_23-10-22/rwrc23_main_2023-10-22-11-11-36.bag"/> -->
    <!-- <arg name="bagfile" default="/share/share/RWRC/rwrc23/bagfiles/tsukuba_23-10-22/rwrc23_main_2023-10-22-11-44-46.bag"/> -->

    <!-- <arg name="bagfile" default="/share/share/RWRC/rwrc23/bagfiles/tsukuba_23-11-04/rwrc23_main_2023-11-04-10-34-03.bag"/> -->
    <!-- <arg name="start" default="1230"/> -->
    <!-- <arg name="start" default="2190"/> -->

    <!-- <arg name="bagfile" default="/home/amsl/bagfiles/rwrc23/rwrc23_main_2023-11-19-10-27-01.bag"/> -->
    <!-- <arg name="start" default="0"/> -->

    <arg name="bagfile" default="/home/amsl/bagfiles/rwrc23/rwrc23_main_2023-11-19-10-39-43.bag"/>
    <arg name="start" default="0"/>

    <!-- Ikuta -->
    <!-- <arg name="bagfile" default="/home/amsl/bagfiles/bagfiles/rwrc/2023/ikuta_stopline1_2023-09-16-15-20-23.bag"/> -->
    <!-- <arg name="bagfile" default="/home/amsl/bagfiles/bagfiles/rwrc/2023/ikuta_stopline2_2023-09-16-15-20-56.bag"/> -->
    <!-- <arg name="bagfile" default="/home/amsl/bagfiles/bagfiles/rwrc/2023/ikuta_stopline3_2023-09-16-15-22-22.bag"/> -->
    <!-- <arg name="bagfile" default="/home/amsl/bagfiles/bagfiles/rwrc/2023/ikuta_stopline4_2023-09-16-15-23-42.bag"/> -->
    <!-- <arg name="bagfile" default="/home/amsl/bagfiles/bagfiles/rwrc/2023/ikuta_stopline4_2023-09-16-15-23-42.bag"/> -->

    <arg name="duration" default="200"/>
    <arg name="delay" default="30.0"/>
    <arg name="play_speed_ratio" default="1.0"/>
    <node pkg="rosbag" type="play" name="rosbag_play" output="screen" args="
        $(arg bagfile)
        -l
        -r $(arg play_speed_ratio)
        -s $(arg start)
        --clock
        --topics /realsense/color/image_raw/compressed /grasscam/image_raw/compressed
        /grasscam/image_raw/compressed:=/webcam/image_raw/compressed
        ">
    </node>
    <node pkg="rviz" type="rviz" name="rviz_stopline" args="-d $(arg rviz_settings)"/>
    <node name="marker_publisher" pkg="rostopic" type="rostopic"
        args="pub /boot std_msgs/Bool -r 10 true"/>

</launch>
