<?xml version="1.0"?>
<launch>
    <arg name="stop_line_detector_settings" default="$(find stop_line_detector)/config/param/stop_line_detector.yaml"/>
    <arg name="rviz_settings" default="$(find stop_line_detector)/config/rviz/stop_line_detector.rviz"/>
    <node pkg="stop_line_detector" type="stop_line_detector.py" name="stop_line_detector" output="screen">
        <rosparam command="load" file="$(arg stop_line_detector_settings)"/>
    </node>

    <!-- play rosbag -->
    <param name="use_sim_time" value="true"/>
    <!-- <arg name="bagfile" default="/home/amsl/bagfiles/rwrc/2022/2022-11-04-18-53-56.bag"/> -->
    <!-- <arg name="bagfile" default="/home/amsl/bagfiles/rwrc/2022/iki_with_realsense_2022-11-06-10-53-25.bag"/> -->
    <!-- <arg name="bagfile" default="/home/amsl/bagfiles/rwrc/2022/iki1_with_realsense_2022-11-06-11-01-34.bag"/> -->
    <!-- <arg name="bagfile" default="/home/amsl/bagfiles/rwrc/2022/kaeri_with_realsense_2022-11-06-10-56-36.bag"/> -->
    <!-- <arg name="bagfile" default="/home/amsl/bagfiles/rwrc/2022/dkan_stopline_tst.bag"/> -->
    <arg name="bagfile" default="/home/amsl/bagfiles/rwrc/2022/dkan_stop_line_bag_11_11.bag"/>

    <arg name="start" default="0"/>
    <arg name="duration" default="0.0"/>
    <arg name="delay" default="30.0"/>
    <arg name="play_speed_ratio" default="1.0"/>
    <node pkg="rosbag" type="play" name="rosbag_play" output="screen" args="
        $(arg bagfile)
        -l
        -q
        -r $(arg play_speed_ratio)
        -s $(arg start)
        --clock
        ">
    </node>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_settings)"/>
</launch>
