<?xml version="1.0"?>
<launch>
    <arg name="stop_line_detector_settings" default="$(find rwrc23_stop_line_detector)/config/param/stop_line_detector.yaml"/>
    <arg name="rviz_settings" default="$(find rwrc23_stop_line_detector)/config/rviz/stop_line_detector.rviz"/>
    <node pkg="rwrc23_stop_line_detector" type="stop_line_detector.py" name="stop_line_detector" output="screen">
        <rosparam command="load" file="$(arg stop_line_detector_settings)"/>
    </node>

    <!-- play rosbag -->
    <param name="use_sim_time" value="true"/>
    <!-- <arg name="bagfile" default="/home/amsl/bagfiles/rwrc/2022/tsukuba_whiteline_kaeri.bag"/> -->
        <!-- <arg name="bagfile" default="/home/amsl/bagfiles/rwrc/2022/iki1_with_realsense_2022-11-06-11-01-34.bag"/> -->
        <!-- <arg name="bagfile" default="/home/amsl/bagfiles/bagfiles/rwrc/2023/stopline/stopline_test_2023-06-19-23-32-11.bag"/> -->
        <arg name="bagfile" default="/home/amsl/bagfiles/bagfiles/rwrc/2023/stopline/stopline_data_2023-07-14-19-10-05.bag"/>

    <arg name="start" default="0"/>
    <arg name="duration" default="200"/>
    <arg name="delay" default="30.0"/>
    <arg name="play_speed_ratio" default="1.0"/>
    <node pkg="rosbag" type="play" name="rosbag_play" output="screen" args="
        $(arg bagfile)
        -l
        -q
        -r $(arg play_speed_ratio)
        -s $(arg start)
        --clock
        ">
    </node>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_settings)"/>
    <node name="marker_publisher" pkg="rostopic" type="rostopic"
        args="pub /detect_line std_msgs/Bool -r 10 true"/>

 <!-- extract images from a movie -->
    <!-- <node name="republish" type="republish" pkg="image_transport" output="screen" -->
    <!--     args="compressed in:=/stop_line_image raw out:=/stop_line_image" /> -->
    <!-- <node name="extract" pkg="image_view" type="extract_images" respawn="false" output="screen" cwd="ROS_HOME"> -->
    <!--     <remap from="image" to="/stop_line_image"/> -->
    <!-- </node> -->

</launch>
