<?xml version="1.0"?>
<launch>
    <arg name="stop_line_detector_settings" default="$(find rwrc23_stop_line_detector)/config/param/stop_line_detector.yaml"/>
    <arg name="rviz_settings" default="$(find rwrc23_stop_line_detector)/config/rviz/stop_line_detector.rviz"/>
    <node pkg="rwrc23_stop_line_detector" type="stop_line_detector.py" name="stop_line_detector" output="screen">
        <rosparam command="load" file="$(arg stop_line_detector_settings)"/>
    </node>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_settings)"/>
    <node name="marker_publisher" pkg="rostopic" type="rostopic"
        args="pub /detect_line std_msgs/Bool -r 10 true"/>
</launch>
