<?xml version="1.0"?>
<launch>
    <arg name="config_file" default="$(find rwrc23_stop_line_detector)/config/param/stop_line_detector.yaml"/>

    <node pkg="rwrc23_stop_line_detector" type="stop_line_detector.py" name="stop_line_detector" output="screen">
        <rosparam command="load" file="$(arg config_file)"/>
    </node>

</launch>
